@{
    ViewData["Title"] = "Home Page";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap" rel="stylesheet">

<div class="text-center  inicialScreen">
    <h1 class="display-4" style=" margin-top:50px">PROJETOS.COM</h1>
    <h6>-Seu site de Gerenciamento de Projetos-</h6>
    <img src="~/img/logoIMG.png" style="height:500px; margin-top:30px" />
</div>
