@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center  inicialScreen">
    <h1 class="display-4" style=" margin-top:50px">PROJETOS.COM</h1>
    <h6>-Seu site de Gerenciamento de Projetos-</h6>
    <img src="~/img/logoIMG.png" style="height:500px; margin-top:30px"/>
</div>
